* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
}

body {
    max-width: 1000px;
    margin: 0px auto;
    background-color: whitesmoke;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    background-color: darkslategray;
    color: white;
    padding: 1rem;
}

h2 {
    font-size: 18px;
}

li.recipecard
{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

img {
    margin: auto;
    padding: 1rem;
    border: 1px solid darkslategray;
    display: block;
    max-width: 600px;
    width: 50%;
}

.recipecard {
    width: 25%;
    height: 30%;
    background-color: #c5e0d7;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 1rem;
    margin: 1rem;
    text-align: center;

}

.content {
    margin: 2rem auto;
    border-top: 1px solid darkslategray;
    padding-top: 2rem;
}

.ingredients {
    display: inline-block;
    padding: 2rem;
    border: 2px dotted darkslategray;
    width: 30%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #c5e0d7;
    min-height: 400px;
    vertical-align: middle
}

.prep {
    display: inline-block;
    max-width: 800px;
    padding: 2rem;
    box-sizing: border-box;
    width: 68%;
    min-height: 100%;
    height: 400px;
    vertical-align: middle
}

.block {
    display: block;
    margin: 10px auto;
    padding: 1rem;
    max-width: 200px;
    text-align: center;
    border: 1px solid darkslategray;
}

